div.app {
	display: flex;
	flex-direction: column;
	width: 90%;
	height: 100vh;
	margin: 0 auto;
	text-align: center;

	color: #222;
}

header {
	flex-basis: 25vh;
	/* temporary */
	border: 1px solid black;
}

@media (max-width: 970px) {
	main {
		display: inline-block;
		flex-grow: 1;
		padding: 30px 0;
	}
	main .nav {
		display: block;
		width: 100%;
	}
	main .nav li {
		width: 25%;
		float: left;
		font-size: 16px;
	}
	main .page {
		flex-grow: 1;
		margin-top: 20px;
		min-height: 500px;
	}
}
@media (min-width: 971px) {
	main {
		display: flex;
		flex-grow: 1;
		padding: 30px 0;
	}
	main .nav {
		min-width: 150px;
	}
	main .page {
		flex-grow: 1;
	}
}

footer {
	padding: 10px 0;
	color: white;
	background-color: black;
}
